# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
# =========================
.venv/
venv/
env/
ENV/
estate/

# Django migrations
# =========================
**/migrations/

# Environment/config
# =========================
.env
.env.*


# Database
# =========================
*.sqlite3
db.sqlite3


# Logs
# =========================
*.log

# Uploaded media
# =========================
media/


# Test / coverage artifacts
# =========================
.coverage
htmlcov/
coverage.xml
.pytest_cache/


# IDE / editor
# =========================
.vscode/
.idea/


# OS files
# =========================
.DS_Store
Thumbs.db